$white: hsl( 0deg 0% 100% );
$white-100: hsl( 213deg 36% 95% );
$white-200: hsl( 210deg 25% 92% );
$black: hsl( 192deg 6% 17% );
$grey: hsl( 0deg 0% 45% );
$blue: hsl( 217deg 53% 42% );
$blue-100: hsl( 217deg 53% 52% );
