@use "../../abstracts/colors" as *;
@use "../../abstracts/fonts" as *;

.k-input-file {
	&::file-selector-button {
		margin: 0 1rem 0 0;
		padding: 0.5rem 1.625rem 0.5rem 1.625rem;
		background-color: $k-blue;
		display: inline-block;
		overflow: visible;
		color: $k-white;
		line-height: normal;
		text-transform: none;
		text-decoration: none;
		text-shadow: none;
		border: none;
		border-radius: 0.25rem;
		outline: none;
		cursor: pointer;
		user-select: none;
		font: {
			family: inherit;
			size: $k-xxs;
			style: inherit;
		}
		&:hover {
			background-color: $k-blue-100;
		}
		&:focus,
		&:active {
			background-color: $k-blue-100;
		}
	}
}
