@use "../../abstracts/colors" as *;

.k-label-radio {
	margin: 0 0 0.625rem 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	&-input {
		width: 1.125rem;
		height: 1.125rem;
		margin: 0;
		background-color: $k-white-100;
		position: relative;
		border: 1px solid $k-white-100;
		border-radius: 50%;
		cursor: pointer;
		transition: all ease-in-out 0.3s;
		appearance: none;
		&:focus {
			border: 6px solid $k-blue;
			outline: none;
			box-shadow: 0 0 0 4px rgba($k-blue, 0.3);
			&:indeterminate {
				border-color: $k-white-100;
			}
		}
		&:indeterminate {
			border-color: $k-white-100;
		}
		&:checked {
			background-color: $k-white;
		}
		&:disabled {
			background-color: $k-white;
			opacity: 0.7;
			pointer-events: none;
		}
		&:checked {
			&[disabled],
			&:disabled {
				background-color: $k-white;
				border: 6px solid $k-blue;
				box-shadow: 0 0 0 4px rgba($k-blue, 0.3);
				opacity: 0.7;
				pointer-events: none;
			}
		}
	}
	&-text {
		margin: 0 0 0 0.625rem;
		display: flex;
		align-items: center;
	}
}
