@use "abstracts/colors" as *;
@use "abstracts/fonts" as *;

$rtl-support: false;

$body-font-family-default: system-ui, -apple-system, "Segoe UI", roboto,
helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$html-smooth-scroll: true;
$body-background: $k-white;
$body-line-height: 1.5;
$body-color: $k-black;
$body-font-family: $body-font-family-default;
$body-font-size: $k-s;
$body-font-weight: 400;

$selection-background-color: $k-grey;
$selection-color: $k-white;

$a-text-decoration: none;
$a-color: $k-grey;
$a-hover-focus-active-text-decoration: none;
$a-hover-focus-active-color: $k-black;

$heading-margin-bottom: 2rem;
$heading-line-height: 1.25;
$heading-color: $k-black;
$heading-font-weight: 400;

$h1-font-size: $body-font-size * 2.1;
$h2-font-size: $body-font-size * 1.9;
$h3-font-size: $body-font-size * 1.7;
$h4-font-size: $body-font-size * 1.45;
$h5-font-size: $body-font-size * 1.2;
$h6-font-size: $body-font-size;

$p-margin-bottom: 1rem;
