@use "../../abstracts/colors" as *;

.k-fieldset {
	min-width: 0;
	margin: 0;
	padding: 1.25rem;
	vertical-align: initial;
	border: 1px solid $k-white-200;
	font: {
		size: 100%;
	}
	&:disabled {
		border: 1px solid $k-red;
		opacity: 0.7;
		pointer-events: none;
	}
}
